<div class="flex gap-4">
<.fos_button variant="contained" color="tertiary" size="lg" type="submit">Scruff</.fos_button> 
<.fos_button variant="outlined" color="tertiary" size="lg" type="submit">Fluff</.fos_button> 
</div>